#!/bin/sh

bspc monitor -d 壱 弐 参 肆 伍 陸 漆 捌 玖

bspc config automatic_scheme    alternate

bspc config border_width        1
bspc config window_gap          8

bspc config top_padding         30
bspc config bottom_padding      4
bspc config left_padding        4
bspc config right_padding       4

bspc config split_ratio         0.55
bspc config borderless_monocle  true
bspc config gapless_monocle     true
bspc config click_to_focus      any

bspc config normal_border_color     "{{ colors.color4 }}"
bspc config active_border_color     "{{ colors.color4 }}"
bspc config focused_border_color    "{{ colors.color2 }}"
bspc config presel_feedback_color   "{{ colors.color4 }}"

bspc rule -a Zathura state=tiled

{% if hostname == "izanami" -%}
if [ $(cat "$XDG_CACHE_HOME/xstatus") = "startup" ]; then
    bspc rule -a firefox:Navigator -o desktop='^1' locked=on
    bspc node @'^2':/ -i
    bspc node @'^2':/ -p east -o 0.5 -i

    bspc rule -a Vivaldi-stable:vivaldi-stable -o node=@'^2':/1 locked=on
    bspc rule -a Alacritty:ncmpcpp -o node=@'^2':/2 locked=on
    bspc rule -a qBittorrent:qbittorrent -o desktop='^3'

    firefox &
    vivaldi-stable &
    sleep 1 # required for tmux to resize properly
    alacritty --class ncmpcpp -e tmux new-session "tmux source-file ~/.config/ncmpcpp/session.tmux" &
    qbittorrent &

    echo "running" > "$XDG_CACHE_HOME/xstatus"
fi
{% endif -%}

pgrep bspswallow || $XDG_CONFIG_HOME/bspwm/bspswallow &
$HOME/.config/polybar/launch.sh
