#!/bin/sh

case $1 in
"Thunderbird")
    paplay "/media/storage/Audio/Theme Sounds/Ai-tan/ai_new_mail.wav"
    ;;
"default" | "weechat")
    paplay "/media/storage/Audio/Theme Sounds/Ai-tan/ai_asterisk.wav"
    ;;
esac
