# Window Management
mod4 + q
    bspc node -c
# swap the current node and the biggest node
mod4 + space
	bspc node -s biggest.local
# set the window state
mod4 + {w,e,s,f}
	bspc node -t {tiled,pseudo_tiled,floating,fullscreen}
# set the node flags
mod4 + shift + {m,x,y,z}
	bspc node -g {marked,locked,sticky,private}
# focus/move the node in/to the given direction
mod4 + {_,shift + }{h,j,k,l}
	bspc node -{f,s} {west,south,north,east}
# rotate node around parent
mod4 + ctrl + {h,l}
    bspc node @parent -R {270,90}
# focus or send to the given desktop
{% if hostname == "izanagi" -%}
mod4 + {_,shift + }{1-9}
	bspc {desktop -f,node -d} 'DVI-I-1:^{1-9}'
mod4 + {_,shift + }{F1,F2,F3,F4}
	bspc {desktop -f,node -d} 'DVI-D-0:^{1-4}'
{%- else -%}
mod4 + {_,shift + }{1-9}
	bspc {desktop -f,node -d} '^{1-9}'
{%- endif %}
# hide focused window
mod4 + shift + 0
    bspc node focused -g hidden=on -g sticky=on
# unhide window at the top of the hidden stack
mod4 + 0
    $HOME/.config/sxhkd/scripts/bspwm-unhide.rb
# expand a window by moving one of its side outward
mod4 + alt + {h,j,k,l}
	bspc node -z {left -20 0,bottom 0 20,top 0 -20,right 20 0}
# contract a window by moving one of its side inward
mod4 + alt + shift + {h,j,k,l}
	bspc node -z {right -20 0,top 0 20,bottom 0 -20,left 20 0}
# move a floating window
mod4 + {Left,Down,Up,Right}
	bspc node -v {-20 0,0 20,0 -20,20 0}


# Environment Management
mod4 + shift + q
    xkill
mod4 + shift + r
	pkill -USR1 -x sxhkd && STARTUP=true bspc wm -r
mod4 + Pause
    $HOME/.config/sxhkd/scripts/notify-pause.rb



# Launch Processes
mod4 + Return
    alacritty
mod4 + d
    rofi -run-list-command ". $HOME/.zshrc" -run-command "/bin/zsh -ic '\{cmd\}'" -m primary -show run
mod4 + t
    alacritty -e ranger
mod4 + o; k
    keepassxc
mod4 + o; l
    $HOME/.config/sxhkd/scripts/lutris-launcher.rb
mod4 + o; q
    qbittorrent
mod4 + o; r
    $HOME/.config/sxhkd/scripts/record.sh
mod4 + o; s
    $HOME/.config/sxhkd/scripts/twitch.rb
mod4 + o; t
    thunderbird
mod4 + o; w
    $HOME/.config/sxhkd/scripts/wttr.rb
mod4 + o; e
    cat $HOME/.local/share/emoji | rofi -dmenu -i -m primary -p "Emoji" | cut -d' ' -f1 | tr -d '\n' | xclip -sel clip


# Device Management
mod4 + F4
    $HOME/.config/sxhkd/scripts/mic-ptt.rb
mod4 + F5
    $HOME/.config/sxhkd/scripts/notify-pause.rb
mod4 + F6
    $HOME/.config/sxhkd/scripts/vpn.rb
mod4 + F7
    $HOME/.config/sxhkd/scripts/bluetooth.rb connect
mod4 + F8
    $HOME/.config/sxhkd/scripts/bluetooth.rb disconnect
mod4 + F9
    $HOME/.config/sxhkd/scripts/sources.rb
mod4 + F10
    $HOME/.config/sxhkd/scripts/sinks.rb
mod4 + F11
    $HOME/.config/sxhkd/scripts/screens.rb
mod4 + F12
    $HOME/.config/sxhkd/scripts/power.rb


# Audio Control
XF86AudioMute
    $HOME/.config/sxhkd/scripts/volume.rb -m
XF86Audio{Lower,Raise}Volume
    $HOME/.config/sxhkd/scripts/volume.rb -{d,u} 10
XF86MonBrightness{Down,Up}
    $HOME/.config/sxhkd/scripts/brightness.rb -{d,u} 10
XF86AudioPrev
    mpc prev
XF86AudioPlay
    (mpc status | sed -n 2p | rg playing) && mpc stop || (mpc stop && mpc play)
XF86AudioNext
    mpc next

# Screen Functions
Print
    maim -u $HOME/$(date -Iseconds).png
mod4 + Print
    maim -Bsu | xclip -selection clipboard -t image/png
mod4 + shift + Print
    maim -Bsu $HOME/$(date -Iseconds).png
mod4 + ctrl + Print
    maim -Bug 1920x1080+1080+340 $HOME/$(date -Iseconds).png
