[Unit]
Description=Serves start page on localhost:2147

[Service]
User=blankaex
Restart=always
StandardOutput=syslog
StandardError=syslog
ExecStart=/usr/bin/python -m http.server 2147 --directory {{ home }}/.local/src/devola

[Install]
WantedBy=multi-user.target
